<meta charset="UTF-8">
<title>Welcome</title>

<!-- Bootstrap styles -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
        font-family: "Open Sans", sans-serif;
        background: #151515;
        color: white;
    }

    .navbar-default {
        background: #e7e7db;
        color: #333;
        border-bottom: 4px solid #9d0a0e
    }

    main {
        background: url(http://pngimg.com/uploads/warcraft/warcraft_PNG77.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    main a {
        text-decoration: none;
        color: #9d0a0e;
    }

    .jumbotron {
        background: rgba(0, 0, 0, 0);
    }

    input, select {
        color:#333;
    }
</style>